.about {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 2rem;
  padding: 5rem 4rem;
  flex-wrap: wrap;

}

.about-img {
  width: 350px;
  height: auto;
  flex-shrink: 0;
}

.about-txt {
  max-width: 700px;
  text-align: left;
}

.about-txt h1 {
  font-size: 28px;
  line-height: 1.6;
  font-weight: 600;
  color: #222;
}

.about-txt .highlight {
  color: #d4af37;
  /* golden yellow */
  font-weight: 600;
}

/* Responsive Design */
@media (max-width: 768px) {
  .about {
    flex-direction: column;
    text-align: center;
    padding: 1.5rem;
  }

  .about-img {
    width: 180px;
    height: 180px;
  }
  .about-txt {

  text-align: center;
}

  .about-txt h1 {
    font-size: 1rem;
  }
}

@media (min-width: 1024px) {
  .about-txt h1 {
    font-size: 1.5rem;
  }
}